.linhaVermelha {
  height: 10px;
}

.cabecalho {
  height: 100px;
}

.cabecalho-menu {
  max-width: 900px;
  margin: 0 auto;
}

#conteudo {
  margin: 10px auto;
  width: 1000px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.img-blog {
    margin: 10px auto;
    border: none !important;
    border-radius: 10px !important;
}

.bloco {
  background-color: rgb(132, 152, 255);
  height: 300px;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}